<Request>
   <Login>
        <Username>{{username}}</Username>
        <Password >{{password}}</Password>
    </Login>
    <Set operation="set"> 
    <WebFilterURLGroup transactionid="">
        <Name>{{ name }}</Name>
        <URLlist>
            {% for domain in domain_list %}
            <URL>{{ domain }}</URL>
            {% endfor %}
        </URLlist>
    </WebFilterURLGroup>
   </Set>
</Request>