<Request>
   <Login>
        <Username>{{username}}</Username>
        <Password >{{password}}</Password>
    </Login>
    <Set operation = "update"> 
		<User transactionid = "">
            <Username>{{ Username }}</Username>
            <Name>{{ Name }}</Name>
            <Description>{{ description if description else '' }}</Description>
            <Password>{{ Password }}</Password>
            <UserType>{{ UserType }}</UserType>
            {% if UserType == 'Administrator' %}
            <Profile>{{ Profile }}</Profile>
            {% endif %}
            <Group>{{ Group }}</Group>
            <EmailList>
                <EmailID>{{ EmailList.EmailID }}</EmailID>
            </EmailList>
            <AccessTimePolicy>{{ AccessTimePolicy | default('Allowed all the time') }}</AccessTimePolicy>
            <DataTransferPolicy/>
            <QoSPolicy/>
            <SSLVPNPolicy>{{ SSLVPNPolicy | default('No Policy Applied') }}</SSLVPNPolicy>
            <SSLVPNIPv4Address/>
            <SSLVPNIPv6Address/>
            <ClientlessPolicy>{{ ClientlessPolicy | default('No Policy Applied') }}</ClientlessPolicy>
            <L2TP>{{ L2TP | default('Disable') }}</L2TP>
            <PPTP>{{ PPTP | default('Disable') }}</PPTP>
            <CISCO>{{ CISCO | default('Disable') }}</CISCO>
            <QuarantineDigest>{{ QuarantineDigest | default('Disable') }}</QuarantineDigest>
            <MACBinding>{{ MACBinding | default('Disable') }}</MACBinding>
            <LoginRestriction>{{ LoginRestriction | default('UserGroupNode') }}</LoginRestriction>
            <IsEncryptCert>{{ IsEncryptCert | default('Disable') }}</IsEncryptCert>
            <SimultaneousLoginsGlobal>{{ SimultaneousLoginsGlobal | default('Disable') }}</SimultaneousLoginsGlobal>
            <SurfingQuotaPolicy>{{ SurfingQuotaPolicy | default('Unlimited Internet Access') }}</SurfingQuotaPolicy>
            {% if UserType == "Administrator" %}
            <ScheduleForApplianceAccess>{{ ScheduleForApplianceAccess | default('All The Time') }}</ScheduleForApplianceAccess>
            <LoginRestrictionForAppliance>{{ LoginRestrictionForAppliance | default('AnyNode') }}</LoginRestrictionForAppliance>
            {% endif %}
        </User>
   </Set>
</Request>