<Request>
   <Login>
        <Username>{{ username }}</Username>
        <Password >{{ password }}</Password>
    </Login>
    <Set operation="update"> 
    <AdminPassword>
		  <CurrentPassword>{{ current_password }}</CurrentPassword>
		  <NewPassword>{{ new_password }}</NewPassword>
	  </AdminPassword>
    </Set>
</Request>